*{
    margin: 0;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    /* background-color: #000000; */
}

.navbar{
    height: 64px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-logo{
    height: 72px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo i{
    font-size: 2rem;
}

.logo{
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-home{
    height:48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-logo{
    border-radius: 50%;
    background-color: #1F1F1F;
    margin: 0px 0px 0px 8px;
    padding: 12px;
}

.home-logo i{
    font-size: 1.5rem;
}

.home-logo:hover i{
    transform: scale(1.15);
    transition: transform 0.2s ease;
}

.home-logo:hover {
    background-color: #2A2A2A;
}

.nav-search{
    width: 415px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar{
    width: 400px;
    height: 48px;
    border-radius: 50px;
    background-color: #1F1F1F; 
    display: flex;          
    align-items: center;
}

.search-iconbox{
    height: 48px;
    width: 48px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
}

.search-icon{
    color: #B3B3B3;
}

.search-icon i{
    font-size: 1.5rem;
}

.search-input{
    width: 312px;
    height: 48px;
    flex: 1 1 auto; 
    background-color: #1F1F1F;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.search-input::placeholder{
    color: #B3B3B3; 
}

.searchbar:hover {
    transition: transform 0.2s ease;
    background-color: #2A2A2A;
    border: 0.5px solid #3E3E3E;
}

.search-input:hover {
    transition: transform 0.2s ease;
    background-color: #2A2A2A;
    border: 0.5px solid #3E3E3E;
    border-left: none;
    border-right: none;
}

.breakline{
    height: 25px;
    width: 0.1px;
    border: 0.1px solid #B3B3B3;
    margin-right: 15px;
}

.compass{
    padding: 0px 15px 0px 0px;
    color: #B3B3B3;
}

.compass i{
    font-size: 1.5rem;
}

.compass:hover i{
    transform: scale(1.15);
    transition: transform 0.2s ease;
}

.compass:hover {
    background-color: #2A2A2A;
}

.hovering:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
    background-color: #FFFFFF;
}

.otherbox{
    width: 580px;
    height: 57px;
    /* border: 2px solid white; */
    margin-left: auto;
    /* display: block; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.otherbox p{
    display: inline;
    font-size: 1rem;
    color: #B3B3B3;
    font-weight: 700;
    padding: 8px 0px;
}

.otherbox p:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease;
    color: #FFFFFF;
}

.break2{
    height: 30px;
    width: 1px;
    /* color: white; */
    border: 0.1px solid white;
}

.login{
    background-color: #FFFFFF;
    color: #000000;
    padding: 8px 32px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    /* width: 105px; */
}

.otherbox p.small{
    font-size: 0.85rem;
}

.login:hover {
    transform: scale(1.1);
}

.left-panel{
    width: 353px;
    height: 587px;
    padding: 16px 16px 8px;
    padding: 0px 8px 8px;
    background-color: #121212;
    border-radius: 0 8px 8px 0; 
    position: fixed;        
    top: 64px;
    left: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}


.box1 {
    margin-top: 10px ;
    width: 321px;
    height: 35px;  
    display: flex;
    padding: 16px 16px 8px;
    align-items: center;
    justify-content: center;
    /* background-color: #121212; */
}

.box1 p{
    color: #FFFFFF;
    font-size: 1rem;
    margin: 0px 0px 0px 4px;
    font-weight: 700;
    /* background-color: #121212; */
}

.plus{
    width: 35px;
    height: 35px;
    color: #B3B3B3;
    padding: 8px;
    margin-left: auto;
    /* background-color: #121212; */
}

.plus i:hover{
    transform: scale(1.1);
}

.box2{
    /* position:  */
    width: 345px;
    height: 331.2px;
    padding: 8px 8px 8px 0px;
    margin-top: 20px;
    display: block;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: transparent transparent;
    /* scrollbar-width: thin;    */
    scrollbar-width:unset;
}

.box2::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}

.box2:hover {
    scrollbar-color: #b3b3b3 transparent;
}

.box2-1{
    width: 335px;
    height: 133.6px;
    margin: 8px 0px;
    padding: 16px 20px;
    background-color: #1F1F1F;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.msg1{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 700;
}

.msg2{
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 7px;
    font-weight: 500;
}

.playlist{
    width: 125px;
    height: 32px;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    margin-top: 25px;
    border-radius: 40px;
    font-weight: 700;
}

.box2-2{
    width: 335px;
    height: 133.6px;
    margin-top: 25px;
    padding: 16px 20px;
    background-color: #1F1F1F;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.msg1{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 700;
}

.msg2{
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 7px;
    font-weight: 500;
}

.podcast{
    width: 142px;
    height: 32px;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    margin-top: 25px;
    border-radius: 40px;
    font-weight: 700;
}

.box3{
    width: 100%;
    padding: 0px 16px;
    margin: 0px 0px;
    margin-bottom: 40px;
    /* background-color: #121212; */
}

.box3 ul {
    list-style: none;     
    padding: 0;
    margin: 0;
    display: flex;        
    flex-wrap: wrap;      
    gap: 16px 24px;
    color: #B3B3B3;
    font-size: 12px;
    /* background-color: #121212; */
}

.cookie a{
    display: block;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
    /* background-color: #121212; */
}

.cookie a:hover{
    text-decoration: underline;
}

.english{
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    margin-left: 32px;
    padding: 0 12px; 
    background-color: #121212;
    color: #FFFFFF;
    border: 0.1px solid #B3B3B3; 
    border-radius: 40px;
    gap: 8px;
    font-size: 14px;
    font-weight: 700;
}

.english:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease;
    border: 0.1px solid #FFFFFF;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.color-bar{
    width: 100%;
    height: 82px;
    background-color: #000000;
    padding: 8px;
    margin-top: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.color-bar1{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: linear-gradient(90deg, #af2896, #509bf5);
    width: 1538px;            
    max-width: 1538px;
    white-space: nowrap;
    margin-right: auto;
    padding: 10px 15px;
    margin-right: auto;
    height: 65px;
}

.msgg1{
    width: 635px;
    height: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
}

.msgg2{
    width: 635px;
    height: 22px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.color-button{
    width: 178px;
    height: 48px;
    font-size: 1rem;
    color: #000000;
    background-color: #FFFFFF;
    /* margin-top: 25px; */
    border-radius: 40px;
    font-weight: 700;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0; */
    margin-left: auto;
     margin-top: -45px;
}

.vertical-line{
    position: fixed;
    top: 70px;       
    left: 352px;  
    bottom:  90px;
    width: 0.1px;
    background-color: #000000; 
}

.vertical-line:hover{
    background-color: #B3B3B3;
}

main{
    background-color: #000000;
}

.trendsongs-content{
    height: 48px;
    max-width: 100%vw;
    background-color: #1A1A1A;
    border-radius: 8px 8px 0px 0px;
    margin-top: 64px;
    margin-left: 360px;
    margin-right: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.trendsongs-content h2{
    padding: 20px 0px 0px 40px;
    white-space: nowrap;
}

.trendsongs-content h2:hover{
    text-decoration: underline;
}

.show-all{
    padding: 30px 40px 0px 830px;
    text-decoration: none;
    color: #B3B3B3;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
}

.show-all:hover{
    text-decoration: underline;
}

.trendrow{
    height: 284px;
    max-width: 100%vw;
    margin-left: 360px;
    margin-right: 10px;
    /* margin-top: 5px; */
    background-color: #1A1A1A;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width:unset;
    scrollbar-color: transparent transparent;
    display: flex; 
    /* border: 2px solid red; */
    /* margin: 0px -28px 0px -28px; */
    padding: 0px 28px 0px 28px;
    
}


.trend-box{
    width: 188px;
    height: 265px;
    /* border: 1px solid yellow; */
    flex: 0 0 auto;
   /* padding: 60px 0px 0px 28px;
    margin-right: auto;
    margin-left: 28px;
    margin-top: 9px; */
    position: relative;
}

.playbtn{
  position: absolute;      
  top: 100px;               
  left: 113px;             
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1DB954; 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .18s ease, transform .18s ease;
}

.trend-box:hover .playbtn {
    opacity: 1;
}

.playbtn:hover{
    transform: scale(1.15);
    transition: transform 0.1s ease;
    background-color: #1fdf64;;
}

.box-img{
    height: 140px;
    width: 148px;
    margin: 15px 5px 0px 20px;
    background-size: cover;
    border-radius: 5px;
    /* border: 1px solid red; */
}

.box-content p{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    margin-top: 10px;
    margin-left: 20px;
    display: block;
    font-weight: 500;
}

.box-content a{
    font-size: 14px;
    color: #B3B3B3;
    line-height: 1.5;
    font-weight: 500;
}

.box-content a:hover{
    text-decoration: underline;
}

.box-content span:hover{
    text-decoration: underline;
}

.box-content span:hover{
    text-decoration: underline;
}

.trend-box:hover{
    background-color: #ffffff1a;
    border-radius: 5px;
}

.popart-content{
    /* height: 48px; */
    height: 95px;
    max-width: 100%vw;
    background-color: #1A1A1A;
    /* border-radius: 8px 8px 0px 0px; */
    /* margin-top: 64px; */
    margin-left: 360px;
    margin-right: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.popart-content h2{
    padding: 68px 0px 0px 40px;
}

.popart-content h2:hover{
    text-decoration: underline;
}

.popshow-all{
    padding: 72px 40px 0px 830px;
    text-decoration: none;
    color: #B3B3B3;
    font-weight: 700;
    font-size: 14px;
}

.popshow-all:hover{
    text-decoration: underline;
}

.popart-row{
    height: 284px;
    max-width: 100%vw;
    margin-left: 360px;
    margin-right: 10px;
    /* margin-top: 5px; */
    background-color: #1A1A1A;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width:unset;
    scrollbar-color: transparent transparent;
    display: flex; 
    /* border: 2px solid red; */
    /* margin: 0px -28px 0px -28px; */
    padding: 0px 28px 0px 28px;
    /* flex-shrink: 0; */
}

.popart-img{
    height: 164px;
    width: 166px;
    margin: 15px 11px 0px 11px;
    background-size: cover;
    border-radius: 50%;
}

.popartbox-content a{
    font-size: 14px;
    color: #B3B3B3;
    line-height: 1.5;
    font-weight: 500;
}

.popartbox-content p{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    margin-top: 10px;
    margin-left: 20px;
    display: block;
    font-weight: 500;
}

.popartbox-content span:hover{
    text-decoration: underline;
}

.paas-content{
    height: 48px;
    max-width: 100%vw;
    background-color: #1A1A1A;
    border-radius: 0px 0px 0px 0px;
    /* margin-top: 64px; */
    margin-left: 360px;
    margin-right: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.paas-content h2{
    padding: 20px 0px 0px 40px;
    white-space: nowrap;
}

 
.paas-content h2:hover{
    text-decoration: underline;
}


.paasshow-all{
    padding: 30px 40px 0px 7px;
    text-decoration: none;
    color: #B3B3B3;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
}

.paasshow-all:hover{
    text-decoration: underline;
} 


/* hr.hrline1 {
    box-sizing: border-box;
    height: 1px; 
    width: calc(100% - 360px);
    background-color: gray; 
    border: none; 
    margin: 40px 10px 60px 360px;;
  } */

/* .hrline{
    max-width: 100%vw;
    height: 0.5px;
    background-color: gray;
    margin: 0px 10px 1px 360px;
} */

.foot-panel{
    height: auto;
    max-width: 100%vw;
    background-color: #1A1A1A;
    /* margin-top: 64px; */
    margin-left: 360px;
    margin-right: 10px;
    color: #B3B3B3;
    /* display: block; */
    align-items: flex-start; 
    justify-content: space-between;
    flex-wrap: nowrap;
    display: flex;
    padding-top: 64px;
    padding-left: 35px;
    padding-right: 200px;
}

.foot-panel ul{
    margin-top: 30px;
    flex: 1; 
    margin: 0; 
    padding-left: 0;
}

.foot-panel ul span{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

.foot-panel ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: #B3B3B3;
    /* margin-bottom: 8px; */
}

ul a:hover{
    text-decoration: underline;
}

.footicons{
    width: 100px;
    height: 100px;
    display: flex;
    gap: 20px;         
    font-size: 24px; 
    /* border: 2px solid red; */
    padding-left: 100px;
    padding-right: -80px;
    padding-top: 10px;
    /* margin-left: 20px; */
    margin-right: -20px;
}

.instaicon i{
    width:40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid red; */
    padding-top: 7px;
    background-color: #1F1F1F;
}

.instaicon i:hover{
    background: #ffffff1a;
}

.twiticon i{
    width:40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid red; */
    padding-top: 7px;
    background-color: #1F1F1F;
}

.twiticon i:hover{
    background: #ffffff1a;
}

.fbicon i{
    width:40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid red; */
    padding-top: 7px;
    background-color: #1F1F1F;
}

.fbicon i:hover{
    background: #ffffff1a;
}

.footpanel2{
    border-radius: 0px 0px 8px 8px;
    height: 225px;
    background-color: #1A1A1A;
    margin-left: 360px;
    margin-right: 10px;
    /* border: 2px solid red; */
    /* padding-bottom: 20px; */
    color: #B3B3B3;
    font-size: 14px;
    padding-top: 83px;
    padding-left: 30px;
}

.hrline {
  border: none;
  border-top: 1px solid #2a2a2a;
  margin-bottom: 0;
  margin-top: 0px;
  gap: 20px;
  margin-right: 40px;
}

.hrline.first{
    margin-left: 390px;
    margin-right: 50px;
}




